VAR/
mar/
rar/
audiocraft/
out/
not.ipynb
*__pycache__/
model_checkpoints/var/*
!model_checkpoints/var/.gitkeep
analysis/plots/
outputs/
logs/
__pycache__/
*.npz
*.out
*.sh
*.bash
.vscode/
bash_scripts/
datasets/
.pdm-python
sscd_disc_mixup.torchscript.pt
