VAR/
mar/
rar/
1d-tokenizer/
audiocraft/
data/
out/
not.ipynb
*__pycache__/
model_checkpoints/var/*
!model_checkpoints/var/.gitkeep
analysis/plots/
outputs/
logs/
__pycache__/
*.npz
*.out
*.sh
*.bash
.vscode/
bash_scripts/
datasets/
.pdm-python
.python-version
sscd_disc_mixup.torchscript.pt
samples/
test.ipynb
generated_samples*/
memorization/
*.mid
*.png
*.txt
